<ng-container *ngrxLet="loading$ as loading">
  <div *ngIf="loading" class="flex flex-col items-center justify-center h-full">
    <div class="text-center text-graphite-light mt-8">Carregando...</div>
  </div>

  <ng-container *ngrxLet="request$ as request">
    <div *ngIf="!loading" class="grid grid-cols-1 grid-rows-min/1 h-full w-full p-16 gap-y-16 details-root">
      <div class="grid grid-rows-1 grid-cols-{{ steps.length }} gap-x-8 h-40">
        <icr-step *ngFor="let step of steps" [stage]="step.stage" [status]="step.status" [text]="step.name" />
      </div>
      <div class="grid grid-rows-1 grid-cols-1/min bg-white rounded h-full">
        <div class="grid grid-rows-min/1 details-history">
          <div class="p-16">
            <div class="flex items-start justify-between mb-16">
              <div class="flex items-center gap-x-8">
                <div class="large-text text-blue">{{ request?.title }}</div>

                <icr-tag schema="yellow">Em espera</icr-tag>
              </div>
              <icr-avatar name="Ana Cardoso" tooltipPosition="left" />
            </div>

            <div class="block">
              <label class="label-text text-graphite-light uppercase mb-4">Detalhes</label>
              <div>
                {{ request?.details || 'Sem detalhes disponível' }}
              </div>
            </div>
          </div>
          <div class="border-t border-gray h-full">
            <div class="grid grid-rows-1/min h-full">
              <div class="h-full p-16 overflow-y-auto">
                <label class="label-text text-graphite-light uppercase mb-4">Histórico</label>

                <div class="mt-16">
                  <icr-comment *ngFor="let comment of request?.comments" [comment]="comment" />

                  <div *ngIf="!request?.comments?.length">
                    <div class="text-center text-graphite-light mt-16">Sem comentários</div>
                  </div>
                </div>
              </div>
              <div class="p-16">
                <form class="flex items-center gap-x-16" [formGroup]="form" (ngSubmit)="addComment(request?.id!)">
                  <input
                    type="text"
                    formControlName="comment"
                    class="flex-1 h-40 bg-white border border-gray-light w-full rounded pl-16 pr-48 py-8 focus:outline-none focus:ring-2 focus:ring-blue focus:border-transparent"
                    placeholder="Comentário" />
                  <button
                    type="submit"
                    class="h-40 rounded relative text-blue disabled:text-gray focus:outline-none focus:ring-2 focus:ring-blue focus:border-transparent transition"
                    [disabled]="loadingComment"
                    [class.spinner]="loadingComment">
                    <mat-icon svgIcon="paper-plane" class="icon-20" />
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[240px] h-full border-l border-gray">
          <div class="p-16">
            <div class="label-text text-graphite-light uppercase mb-8">Solicitado por</div>
            <div class="grid grid-cols-min/1 gap-16 mb-16">
              <icr-avatar />
              <div>{{ request?.user?.name }}</div>
            </div>
            <div class="grid grid-cols-2 gap-y-8">
              <div class="col-span-2">
                <label class="label-text text-graphite-light uppercase mb-4">E-mail</label>
                <div>{{ request?.user?.email }}</div>
              </div>
              <div class="col-span-2">
                <label class="label-text text-graphite-light uppercase mb-4">Celular</label>
                <div>{{ request?.user?.cellphone || 'Não disponível' }}</div>
              </div>
              <div class="col-span-1">
                <label class="label-text text-graphite-light uppercase mb-4">Matricula</label>
                <div>{{ request?.user?.enrollment_number }}</div>
              </div>
              <div class="col-span-1">
                <label class="label-text text-graphite-light uppercase mb-4">Curso</label>
                <div class="truncate">{{ request?.user?.course | userCourse }}</div>
              </div>
            </div>
          </div>
          <div class="p-16 border-t border-gray">
            <div class="mb-8">
              <label class="label-text text-graphite-light uppercase mb-4">Prioridade</label>
              <div>Normal</div>
            </div>
            <div class="mb-8">
              <label class="label-text text-graphite-light uppercase mb-4">Criado em</label>
              <div>{{ request?.created_at | date }}</div>
            </div>
            <div class="mb-8">
              <label class="label-text text-graphite-light uppercase mb-4">Previsão</label>
              <div>02/06/2023</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
