<div class="grid grid-cols-1 h-full w-full p-16 gap-y-16 details-root">
  <div class="grid grid-cols-1 h-40">
    <svg class="fill-blue" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M207.732 1H5C2.79086 1 1 2.79086 1 5V37C1 39.2091 2.79086 41 5 41H207.732C209.197 41 210.545 40.1994 211.245 38.913L219.958 22.913C220.608 21.7203 220.608 20.2797 219.958 19.087L211.245 3.08702C210.545 1.80062 209.197 1 207.732 1Z"
        fill="none"
        stroke="var(--blue)" />
    </svg>
  </div>
  <div class="bg-white rounded h-full">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero numquam soluta aliquam tempore blanditiis iure
    officia enim impedit mollitia eligendi corrupti, cupiditate quas aspernatur officiis est ea dolor deserunt
    explicabo.
  </div>
</div>
