<icr-wrapper>
  <div class="text-center mb-8">
    <h1 class="title-text mb-8">Criar conta</h1>
    <span>Crie uma conta e começe a abrir solititações para o Instituto de Computação da UFBA</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid w-full py-8">
    <div class="col-span-1">
      <label for="sign-in--input--name" class="block mb-4">Nome</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="name"
          id="sign-up--input--name"
          type="name"
          placeholder="John Doe"
          autocomplete="name" />
        <mat-error *ngIf="name?.invalid">
          {{ name?.hasError('required') ? 'Nome é obrigatório' : 'Deve ser o seu nome completo' }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <label for="sign-up--input--email" class="block mb-4">E-mail</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="email"
          id="sign-up--input--email"
          type="email"
          placeholder="Ex. nome@ufba.br"
          autocomplete="email" />
        <mat-error *ngIf="email?.invalid">
          {{ email?.hasError('required') ? 'E-mail é obrigatório' : 'E-mail inválido' }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <label for="sign-up--input--password" class="block mb-4">Senha</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="password"
          id="sign-ip--input--password"
          [type]="hide ? 'password' : 'text'"
          placeholder="Sua senha"
          autocomplete="new-password" />
        <button
          matSuffix
          mat-icon-button
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon [fontIcon]="icon" />
        </button>
        <mat-error *ngIf="password?.invalid">
          {{ password?.hasError('required') ? 'Senha é obrigatório' : 'Pelo menos 8 caracteres' }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <label for="sign-up--input--enrollment" class="block mb-4">Matrícula</label>
      <mat-form-field class="w-full">
        <input
          matInput
          formControlName="enrollment_number"
          id="sign-up--input--enrollment"
          type="text"
          placeholder="217115523"
          autocomplete="off" />
        <mat-error *ngIf="enrollment_number?.invalid">
          {{ enrollment_number?.hasError('required') ? 'Matrícula é obrigatório' : 'Deve ser um número' }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <label for="sign-up--input--course" class="block mb-4">Curso</label>
      <mat-form-field class="w-full">
        <mat-select id="sign-up--input--course">
          <mat-option *ngFor="let course of couses" [value]="course">
            {{ course | course }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="course?.invalid">Curso é obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="col-span-1">
      <ng-container *ngrxLet="loading$ as loading">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="block my-16 w-full"
          [class.spinner]="loading"
          [disabled]="loading">
          Entrar
        </button>
      </ng-container>
    </div>
    <div class="col-span-1">
      <span class="text-graphite-light block text-center"
        >Já possui uma conta? <a [routerLink]="'../sign-in'">Faça login</a> agora.</span
      >
    </div>
  </form>
</icr-wrapper>
