<div class="flex items-center gap-x-16 pr-8 bg-white border-t border-gray-light">
  <div class="border-r border-gray">
    <icr-search />
  </div>

  <div class="flex-1"></div>

  <button matRipple class="flex items-center text-graphite-light rounded py-4 px-8">
    <mat-icon svgIcon="user" class="icon-16" />
    <span class="ml-8">Solicitante</span>
  </button>

  <button matRipple class="flex items-center text-graphite-light rounded py-4 px-8">
    <mat-icon svgIcon="calendar" class="icon-16" />
    <span class="ml-8">Data</span>
  </button>

  <button matRipple class="flex items-center text-graphite-light rounded py-4 px-8">
    <mat-icon svgIcon="clock" class="icon-16" />
    <span class="ml-8">Status</span>
  </button>

  <button matRipple class="flex items-center text-graphite-light rounded py-4 px-8">
    <mat-icon svgIcon="flag" class="icon-16" />
    <span class="ml-8">Prioridade</span>
  </button>

  <button matRipple class="flex items-center text-graphite-light rounded py-4 px-8">
    <mat-icon svgIcon="arrows-turn-to-dots" class="icon-16" />
    <span class="ml-8">Fluxo: Comprovante de Matrícula</span>
  </button>
</div>
