$blue: #528cc8;
$blue-light: #e8f1f9;
$vermilion: #ff0000;
$vermilion-light: #ffd8d8;
$green: #70ad47;
$green-light: #eef6e9;
$emerald: #1ece68;
$emerald-light: #ddfae9;
$yellow: #ffc000;
$yellow-light: #fff5d8;
$purple: #2a1e68;
$purple-light: #dedef5;
$gray: #e6e6e6;
$gray-light: #f1f1f1;
$graphite: #1f1f1f;
$graphite-light: #8e8e93;
$orange: #d5965b;
$orange-light: #f9f0e8;
$red: #ff544f;
$red-light: #ffd9d8;
$white: #ffffff;

$dth-blue: #9fcbeb;
$dth-blue-light: #295387;
$dth-vermilion: #ffa28a;
$dth-vermilion-light: #512012;
$dth-green: #bedea6;
$dth-green-light: #365a20;
$dth-emerald: #93e3a8;
$dth-emerald-light: #036137;
$dth-yellow: #ffdf81;
$dth-yellow-light: #7f6111;
$dth-purple: #a1a4cf;
$dth-purple-light: #273470;
$dth-gray: #7c7c7c;
$dth-gray-light: #555555;
$dth-graphite: #ececec;
$dth-graphite-light: #d3d3d8;
$dth-orange: #edcd9e;
$dth-orange-light: #5e4d42;
$dth-red: #fa9d9b;
$dth-red-light: #4d2618;
$dth-white: #3c3c3c;
