<ng-container *ngrxLet="{ requests: requests$, loading: loading$, role: role$ } as vm">
  <div class="grid grid-rows-1 grid-cols-min/1 h-full w-full workspace-root">
    <aside class="grid grid-cols-1 w-[300px] h-full max-h-full bg-white border-t border-gray-light">
      <div class="grid grid-cols-1/min border-b border-gray-light">
        <icr-search />

        <div class="border-l border-gray-light">
          <button
            matRipple
            class="flex items-center h-40 bg-white w-full px-16 py-8 hover:bg-blue-light transition focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue focus:border-transparent"
            (click)="onOpenFilters()">
            <mat-icon svgIcon="filter" class="text-graphite-light icon-16" />
            <span class="ml-8">Filtros</span>
          </button>
        </div>
      </div>

      <div class="px-16 py-8 border-b border-gray-light">
        <span class="label-text uppercase">{{
          vm.role === userRole.Admin ? 'Solicitações' : 'Minhas solicitações'
        }}</span>
      </div>

      <div class="h-full max-h-full overflow-y-auto">
        <a
          matRipple
          *ngFor="let request of vm.requests; trackBy: trackByFn"
          class="group block p-16 border-b border-gray-light hover:bg-blue-light transition focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue focus:border-transparent"
          routerLinkActive="bg-blue-light"
          [routerLink]="['requests', request.id]">
          <div class="grid grid-cols-1/min gap-x-8">
            <div class="block">
              <div class="text-graphite-light label-text uppercase mb-4">
                Aguardando • {{ request.updated_at | date : 'dd/MM/yyyy' }}
              </div>
              <div class="text-graphite base-text-bold truncate mb-8">{{ request.title }}</div>
              <div class="text-graphite-light mb-16">Previsão: 02/06/2023</div>

              <icr-tag schema="gray">CEAG-IC</icr-tag>
            </div>
            <div class="flex flex-col justify-between items-center gap-y-16">
              <icr-priority [kind]="'normal'" tooltipPosition="right" />
              <icr-avatar [name]="'Ana Cardoso'" tooltipPosition="right" />
            </div>
          </div>
        </a>

        <div *ngIf="vm.loading" class="flex flex-col items-center justify-center h-full">
          <div class="text-center text-graphite-light mt-8">Carregando...</div>
        </div>

        <div *ngIf="!vm.requests?.length && !vm.loading" class="flex flex-col items-center justify-center h-full">
          <mat-icon svgIcon="box-open" class="icon-64 text-graphite-light" />
          <div class="text-center text-graphite-light mt-8">Nenhuma solicitação encontrada.</div>
        </div>
      </div>
    </aside>

    <div class="h-full w-full">
      <router-outlet />
    </div>
  </div>
</ng-container>
