:host {
  @apply block w-full h-full bg-gray-light;
  animation: dialog-enter 0.4s ease;

  div.modal-header {
    grid-template-columns: min-content minmax(0, 1fr);
  }
}

@keyframes dialog-enter {
  from {
    transform: translateY(-300px);
  }

  to {
    @apply transform-none;
  }
}
