mat-sidenav-container.root-dashboard {
  @apply absolute top-0 right-0 bottom-0 left-0;

  mat-sidenav {
    @apply border-r border-gray-light dark:border-0 w-[200px];
  }

  mat-sidenav-content {
    @apply bg-gray-light;
  }

  div.tabs {
    @apply flex items-center relative gap-x-20 h-full;
    &::after {
      content: '';
      @apply absolute h-4 rounded-t bg-blue bottom-0 w-[86px];
      transition: 300ms ease-in-out;
      transform: translatex(0%);
    }

    &:has(a.board)::after {
      transform: translatex(calc(100% + 20px));
    }
  }

  button.user-menu {
    grid-template-columns: repeat(2, min-content);
  }

  @screen sm {
    button.user-menu {
      grid-template-columns: min-content minmax(0, 1fr) min-content;
    }
  }
}
