<ng-container
  *ngrxLet="{
    mobile: mobile$,
    title: title$,
    user: user$,
    tabs: tabs$,
    menu: menu$,
  } as vm">
  <mat-sidenav-container class="root-dashboard">
    <mat-sidenav
      #sidenav
      fixedTopGap="0"
      [opened]="!vm.mobile"
      [fixedInViewport]="vm.mobile"
      [attr.role]="vm.mobile ? 'dialog' : 'navigation'"
      [mode]="vm.mobile ? 'over' : 'side'"
      [autoFocus]="false">
      <div class="flex flex-col border-t-4 border-blue py-16 w-full">
        <icr-logo class="block mx-auto mb-24" />

        <div *ngIf="vm.user?.role !== role.Admin" class="px-16 mb-16">
          <icr-new-request-fab-button />
        </div>

        <div class="grid grid-cols-1 gap-4 pr-4">
          <ng-container *ngFor="let item of vm.menu">
            <a
              matRipple
              class="flex items-center base-text-bold text-blue py-4 px-16 h-40 rounded-r-full hover:bg-blue-light focus:outline-none focus:ring-2 focus:ring-blue focus:border-transparent transition"
              routerLinkActive="bg-blue-light"
              [routerLink]="[item.link]">
              <mat-icon [svgIcon]="item.icon" class="icon-20" />
              <span class="block truncate ml-16">{{ item.label }}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content id="u_1sqW">
      <div class="grid grid-rows-min/1 grid-cols-1 h-full w-full min-w-[900px] overflow-x-auto">
        <div id="dashboard--div--toolbar" class="flex items-center h-64 p-0 bg-white">
          <div *ngIf="vm.mobile" class="flex items-center justify-center h-full ml-16">
            <button matRipple icrIconButton type="button" aria-label="Menu" (click)="sidenav.toggle()">
              <mat-icon svgIcon="bars" class="icon-20" />
            </button>
          </div>

          <div class="base-text-bold uppercase ml-16">{{ vm.title }}</div>

          <div *ngIf="!vm.mobile && vm.tabs" class="tabs ml-48">
            <a
              matRipple
              icrTabButton
              routerLinkActive="text-blue"
              [routerLink]="['/dashboard/workspace']"
              [routerLinkActiveOptions]="{ exact: true }">
              <mat-icon svgIcon="list-ul" class="icon-16" />
              <span class="ml-8">Lista</span>
            </a>
            <a matRipple icrTabButton routerLinkActive="text-blue board" [routerLink]="['/dashboard/workspace/board']">
              <mat-icon svgIcon="chalkboard" class="icon-16" />
              <span class="ml-8">Quadro</span>
            </a>
          </div>

          <div class="flex-1"></div>

          <div class="flex gap-x-16 mr-16">
            <button matRipple icrIconButton type="button" (click)="onThemeChanged()">
              <mat-icon [svgIcon]="isDarkTheme ? 'moon' : 'sun'" class="icon-20" />
            </button>
            <button matRipple icrIconButton type="button">
              <mat-icon svgIcon="bell" class="icon-20" />
            </button>
          </div>

          <div class="flex items-center h-full border-l border-gray-light pl-12 pr-8">
            <button
              matRipple
              class="user-menu grid grid-rows-1 py-4 pl-4 pr-8 rounded-full focus:outline-none focus:ring-2 focus:ring-blue focus:border-transparent transition hover:bg-blue-light"
              type="button"
              [matMenuTriggerFor]="userMenu">
              <div
                class="flex items-center justify-center w-40 h-40 rounded-full bg-gray-light text-graphite-light mr-16">
                <mat-icon svgIcon="user" class="icon-16" />
              </div>
              <div *ngIf="!vm.mobile" class="flex flex-col text-left mr-8">
                <span class="base-text-bold text-blue">{{ vm.user?.name || '--' }}</span>
                <span class="base-text text-graphite-light">
                  <ng-container *ngIf="vm.user?.role === role.Admin; else courseTpl">
                    {{ vm.user?.type | userType }}
                  </ng-container>

                  <ng-template #courseTpl>
                    {{ vm.user?.course | userCourse }}
                  </ng-template>
                </span>
              </div>
              <div class="flex items-center text-blue h-40">
                <mat-icon svgIcon="caret-down" class="icon-12" />
              </div>
            </button>
          </div>
        </div>

        <main class="d-block mx-auto w-full h-full">
          <router-outlet />
          <router-outlet name="popup" />
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="onSignOut()"><mat-icon class="icon-20" svgIcon="right-from-bracket" />Sair</button>
</mat-menu>
